.absence-form-container {
    max-width: 700px;
    margin: 30px auto;
    background: #fff;
    border-radius: 10px;
  }
  
  .form-label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  