 <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
    <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">Home</a>
    <a routerLink="/paiment" routerLinkActive="active" class="nav-item nav-link">Financial</a>
    <a routerLink="/terrefront" routerLinkActive="active" class="nav-item nav-link">Service</a>
    <a routerLink="/afficher" routerLinkActive="active" class="nav-item nav-link">Commande</a>

     <div class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Human Ressources</a>
        <div class="dropdown-menu">
            <a routerLink="/add-demande" routerLinkActive="active" class="dropdown-item">Demande</a>
            <a routerLink="/recruter" routerLinkActive="active" class="dropdown-item">Recruit</a>
            <a routerLink="/send" routerLinkActive="active" class="dropdown-item">Contact</a>
            <a routerLink="/employe" routerLinkActive="active" class="dropdown-item">Rh employe</a>
        </div>
    </div>


   
    <a routerLink="/clientcontart" routerLinkActive="active" class="nav-item nav-link">Contrats</a>
    
    <a routerLink="/budget" routerLinkActive="active" class="nav-item nav-link">Budget Estimation</a>
 <a routerLink="/catalog" routerLinkActive="active" class="nav-item nav-link">Catalog</a>
    <div class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Safety</a>
        <div class="dropdown-menu">
            <a routerLink="/alerts" routerLinkActive="active" class="dropdown-item">Alerts</a>
            <a routerLink="/equipment-inspections" routerLinkActive="active" class="dropdown-item">Equipment inspection</a>
            <a routerLink="/equipment-inspection-frontadd" routerLinkActive="active" class="dropdown-item">Add a new inspection</a>
            <a routerLink="/construction-equipment-frontlist" routerLinkActive="active" class="dropdown-item">Construction Equipment Details</a>
            <a routerLink="/ppe-frontlist" routerLinkActive="active" class="dropdown-item">Protective personal equipment</a>
        </div>
    </div>

    
</div>

                            <div class="ml-auto">
                                <a class="btn" routerLink="/utilisateur">LOGOUT</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->