<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>

  <app-header></app-header>

  <!-- ======= Sidebar ======= -->
  <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
<app-sidebar></app-sidebar>

</aside><!-- End Sidebar--><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Elements</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Elements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">  
            <div class="table-wrapper">
    <h2 class="text-center my-3">Liste des demandes</h2>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type de demande</th>
            <th>Commentaire</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demande of demandes">
            <td>{{ demande.id }}</td>
            <td>{{ demande.nom }}</td>
            <td>{{ demande.prenom }}</td>
            <td>
              <span class="badge" [ngClass]="getBadgeClass(demande.typeDemande)">
                {{ demande.typeDemande }}
              </span>
            </td>
            <td>{{ demande.commentaire }}</td>
            <td>
              <i class="fas fa-trash-alt delete-icon" (click)="deleteDemande(demande.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  
  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

 

</body>

</html>