
<div class="container">
    <h2>Ajouter une Facture</h2>
    <form [formGroup]="factureForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Montant Total</label>
        <input type="number" class="form-control" formControlName="montantTotal" required />
        <div *ngIf="factureForm.get('montantTotal')?.touched && factureForm.get('montantTotal')?.invalid" class="text-danger">
          Le montant total est requis.
        </div>
      </div>
  
      <div class="form-group">
        <label>Référence</label>
        <input type="text" class="form-control" formControlName="reference" required />
        <div *ngIf="factureForm.get('reference')?.touched && factureForm.get('reference')?.invalid" class="text-danger">
          La référence est requise.
        </div>
      </div>
  
      <div class="form-group">
        <label>Date d'Émission</label>
        <input type="date" class="form-control" formControlName="dateEmission" required />
        <div *ngIf="factureForm.get('dateEmission')?.touched && factureForm.get('dateEmission')?.invalid" class="text-danger">
          La date d'émission est requise.
        </div>
      </div>
  
      <div class="form-group">
        <label>Statut</label>
        <select class="form-control" formControlName="statut" required>
          <option *ngFor="let s of statut" [value]="s">{{ s }}</option>
        </select>
        <div *ngIf="factureForm.get('statut')?.touched && factureForm.get('statut')?.invalid" class="text-danger">
          Le statut est requis.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="factureForm.invalid">Modifier</button>
    </form>
  </div>
  
  
  
  
  
  